extend base.pug

block scripts
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css

block container
    section#introSection
        div ..  About Me  ..
        div.small As you all must have come to know that my name is Suraj Singh Mehra, I am recently doing bachelor degree in computer science in ssj university almora but at the same time art painting, big photo of god in wall, wall drawing  I am even looking forward to making the wall 3D design as well.  If there is any need or need of demand then click on contact us or call on below contact number
        div.no 
            div.number 9634912165
            div.number 9634377090