extend base.pug

block style 
    style 
        include ../static/style.css
        include ../static/stylegallery.css



block container 
    div(class="borderimg")
        h2 this is first project 
        div(class="ai")
            div(id="bi")
                img(src="/gallery/01.png")

    div(class="borderimg")
        h2 this is first project 
        div(class="ai")
            div(id="bi1")
                img(src="/gallery/02.png")

    div(class="borderimg")
        h2 this is first project 
        div(class="ai")
            div(id="bi2")
                img(src="/gallery/03.png")

    div(class="borderimg")
        h2 this is first project 
        div(class="ai")
            div(id="bi3")
                img(src="/gallery/04.png")

    div(class="borderimg")
        h2 this is first project 
        div(class="ai")
            div(id="bi4")
                img(src="/gallery/05.png")

    div(class="borderimg")
        h2 this is first project 
        div(class="ai")
            div(id="bi5")
                img(src="/gallery/06.png")

    div(class="borderimg")
        h2 this is first project 
        div(class="ai")
            div(id="bi6")
                img(src="/gallery/facebook.png")
